*multiscale-*
.ipynb*
*.gv*
*.pth
*.ipynb
*.vscode
data/*
*__pycache__*
.virtual_documents/*
*.pytest*
lightning_logs*
models/*
wandb*
!example.ipynb
*.tar.gz
*.ckpt
*.npy
*.png
*.bmp
!run.ipynb
!run_octa500.ipynb
slurm*
!run_slurm.ipynb
*.out
mount_sshfs_head2comp.sh
mount_sshfs_nas2head.sh
launch_lab.sub
testnet.def
testsing.sif
testslurm.sub
launch_lab.sub
run_octa500.ipynb
run.ipynb
!evaluation.ipynb
evaluation_results*
figures/*
!utils/cluster/slurm.py
*.tar
shuffled_data/*
test_tube_logs*
csvlogs/*
logs/*
viz_data/*