torch==1.8.1
torchvision==0.9.1
torchtext==0.9.1
Pillow
pandas
openpyxl
numpy>=1.19
einops
pytorch_lightning==1.3.2
wandb
tensorboardx
sklearn
scikit-image
opencv-python
matplotlib
kornia
submitit
loguru
tqdm
seaborn
statsmodels
pingouin
tabulate
dfply
git+https://github.com/cmpark0126/pytorch-polynomial-lr-decay.git